.experience{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.experience .card-container{
    height: 80%;
    width: 100%;
    /* margin-top: 5%; */
    display: flex; 
    justify-content: space-around;
}
.experience .card{
    width: 92%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    margin: 0 2%;
    background-size: cover;
    background-position: center;
}
.experience .card:nth-child(1){
    /* background-image: url("../img/Westvindh.png"); */
}
.experience .card:nth-child(2){
    /* background-image: url("../img/CMS.PNG"); */
}
.experience .card-left{
    padding: 2%;
    background-color: #ffffff;
    color: black;
}
.experience .card-right{
    /* width: 36%; */
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.experience .card-right a{
    width: 80%;
    border: 2px solid #050934;
    padding: 1%;
}
.experience img{
    width: 100%;
    box-shadow: -5px 5px 10px #00000060;
}
.company{
    font-size: 4vmax;
}
.experience .description{
    font-size: 1.5vmax;
}
.experience h4{
    margin: 0;
    font-size: 2vmax;
}
@media only screen and (max-width:768px){
    .experience .card-container{
        flex-direction: column;
    }
    .experience .card{
        width: 96%;
        /* height: 50%; */
        padding: 2%;
        margin: 0;
    }
}