@font-face{
    font-family: Blackboard;
    src: url("../Fonts/Blackboard.ttf")
}
@font-face{
    font-family: Typewriter;
    src: url("../Fonts/Typewriter.ttf")
}
@font-face{
    font-family: Creamy;
    src: url("../Fonts/Creamy.ttf")
}
@font-face{
    font-family: Script;
    src: url("../Fonts/Script.otf")
}
body{
    /* color: white; */
    margin: 0;
    padding: 0;
    /* background-color: black; */
    background-image: url("../img/vector.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#root{
    /* height: 80vh; */
    /* color: white; */
    font-family: Typewriter;
    /* background-color: #C2180740; */
    transition: margin-left 0.5s ease-in-out;
}
#App{
    position: relative;
    display: flex;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
h3{
    /* margin-top:0; */
    font-size: 2.5vmax;
    margin: 0;
}
li{
    padding: 1%;
}
p{
    text-align: justify;
}

.blackboard{
    font-family: Blackboard;
    font-weight: normal;
}
.script{
    font-family: Script;
    font-weight: normal;
    font-size: 1.25em;
}
.creamy{
    font-family: creamy;
    font-weight: normal;
    font-size: 1.25em;
}
.red{
    color: #C21807;
}
.bold{
    font-weight: bold;
}
.heading{
    font-size: 3vmax;
    text-decoration: underline;
    font-family: Creamy;
    color: white;
}

.container{
    height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* border: 2px solid; */
    /* z-index: 0; */
}
.content{
    height: 78vh;
    width: 78vw;
    padding: 1vh 2vw;
    margin: 8vh 0;
    /* box-shadow: -5px 5px 10px grey; */
    background-color: #050934;
    color: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-top: 1vh solid white;
    border-bottom: 1vh solid white;
    border-left: 1vw solid white;
    border-right: 1vw solid white;
    /* outline-offset: 20px; */
}
.intro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    background-color: white;
    color: black;
    margin: 9vh 0;
    /* padding: 0; */
}
.intro-left{
    width: 48%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name{
    font-family: Blackboard;
    font-size: 4vmax;
    padding: 0;
    margin: 0;
    font-weight: normal;
    /* color: white; */
}
.name span{
    color: #C21807;
}
.intro-left h3{
    opacity: 0.7;
    font-style: italic;
    font-size: 1.25vmax;
}
h3:hover{
    opacity: 1;
}
.intro-left p{
    /* width: 80%; */
    margin: 0 auto;
    font-size: 1vmax;
    text-align: justify;
}
.intro-right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 2%; */
    background-color: #050934;
}
.pic{
    width: 20vmax;
    /* right:-20px; */
    margin: 0;
    margin-right: -15%;
    padding: 12px;
    border: 2px solid white;
}
.intro-left>div{
    width: 80%;
    margin: 12px auto;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}
.intro-left>div a{
    margin: 2%;
    padding: 2.5% 0;
    width: 96%;
}
.intro-left>div a:nth-child(1){
    color: #C21807;
    border: 2px solid #C21807;
}
.intro-left>div a:nth-child(2){
    color: white;
    border: 2px solid #C21807;
    background-color: #C21807;
    opacity: 0.9;
}
.intro-left>div a:nth-child(2):hover{
    opacity: 1;
}

@media only screen and (max-width: 768px){
    h3{
        font-size: 5vmax;
    }
    .intro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .intro-left{
        width: 96%;
        height: 56%;
        padding: 2%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro-right{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        /* padding: 2%; */
        background-color: #050934;
    }
    .name{
        font-size: 4.5vmax;
    }
    .pic{
        width: 40%;
        /* right:-20px; */
        margin: 0;
        margin-bottom: -12%;
    }
    .intro-left h3{
        font-size: 1.5vmax;
        margin-bottom: 1em;
    }
    p,li{
        font-size: 1.5vmax;
    }
    .intro-left>div a{
        margin: 2%;
        padding: 2% 0;
        width: 96%;
        font-size: 1vmax;
    }
    .heading{
        font-size: 6vmax;
        text-decoration: underline;
        font-family: Creamy;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-width:480px){
    
}