@font-face{
    font-family: Blackboard;
    src: url("../Fonts/Blackboard.ttf")
}
@font-face{
    font-family: Typewriter;
    src: url("../Fonts/Typewriter.ttf")
}
@font-face{
    font-family: Creamy;
    src: url("../Fonts/Creamy.ttf")
}
@font-face{
    font-family: Script;
    src: url("../Fonts/Script.otf")
}
body{
    /* color: white; */
    margin: 0;
    padding: 0;
}
#root{
    /* height: 80vh; */
    /* color: white; */
    font-family: Typewriter;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
h3,h2{
    margin-top:0;
}
p{
    text-align: justify;
}

.blackboard{
    font-family: Blackboard;
    font-weight: normal;
}
.script{
    font-family: Script;
    font-weight: normal;

}
.creamy{
    font-family: creamy;
    font-weight: normal;

}
.red{
    color: #C21807;
}
.bold{
    font-weight: bold;
}
.heading{
    font-size: 5vmax;
    text-decoration: underline;
}

.container{
    height: 100vh;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}
.content{
    height: 80%;
    width: 80%;
    padding: 2vh 2vw;
    box-shadow: -5px 5px 10px grey;
}
.intro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    /* padding: 0; */
}
.intro-left{
    width: 48%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name{
    font-family: Blackboard;
    font-size: 4vmax;
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: black;
}
.name span{
    color: #C21807;
}
.intro-left h3{
    opacity: 0.7;
    font-style: italic;
    font-size: 1.25vmax;
}
h3:hover{
    opacity: 1;
}
.intro-left p{
    /* width: 80%; */
    margin: 0 auto;
    font-size: 1vmax;
    text-align: justify;
}
.intro-right{
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    /* padding: 2%; */
    background-color: #050934;
}
.pic{
    align-self: center;
    width: 20vmax;
    /* right:-20px; */
    position: absolute;
    margin: 0;
    margin-left: 15vw;
    padding: 12px;
    border: 2px solid white;
}
.intro-left>div{
    width: 80%;
    margin: 12px auto;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}
.intro-left>div a{
    margin: 2%;
    padding: 2.5% 0;
    width: 96%;
}
.intro-left>div a:nth-child(1){
    color: #C21807;
    border: 2px solid #C21807;
}
.intro-left>div a:nth-child(2){
    color: white;
    border: 2px solid #C21807;
    background-color: #C21807;
    opacity: 0.9;
}
.intro-left>div a:nth-child(2):hover{
    opacity: 1;
}

@media only screen and (max-width:480px){
    .intro{
        flex-direction: column-reverse;
    }
    .intro-left, .intro-right{
        width: 96%;
        padding: 2%;
    }
    .intro-right{
        height: 25%;
    }
    .intro-left{
        height: 75%;
        justify-content: end;
    }
    .name{
        font-size: 7.5vmax;
    }
    .intro-right{
        justify-content: center;
    }
    .pic{
        width: 25vmax;
        margin: 12.5vh auto 0 auto;
    }
    .intro-left h3{
        font-size: 2vmax;
    }
    .intro-left  p{
        font-size: 1.75vmax
    }
    .intro-left>div{
        flex-direction: column;
    }
}